  /*
 Width: 1000px
 # Columns : 12 
 Column width: 65px
 Gutter : 20px 

 */
.grid_1 { width: 6.5%;}/*65px*/
.grid_1a{ width: 13.2%;}
.grid_2 { width: 15%; }/*150px*/
.grid_3 { width: 23.5%; }/*235px*/
.grid_schema {max-width: 400px; width: 32%; height: 500px; overflow-y: scroll; }/*320px*/
.grid_4 { width: 32%;}/*320px*/
.inst_1 { width: 24.9%;}/*320px*/
.grid_5 { width: 43.5%; }/*405px*/
.inst { width: 49%; }
.inst_2{width: 100%;}
.grid_6 { width: 49%; }/*490px*/
.grid_7 { width: 57.5%;}/*575px*/
.grid_8 { width: 66%; }/*660px*/
.grid_9 { width: 74.5%; }/*745px*/
.grid_10 { width: 83%; }/*830px*/
.grid_11 { width: 91.5%; } /*915px*/
.grid_12 { width: 100%; }
.instruktor {
			width: 100%;
		  	border-radius: 20px;
			-webkit-box-shadow: 3px 1px 13px 0px rgba(50, 50, 50, 0.1);
			-moz-box-shadow:    3px 1px 13px 0px rgba(50, 50, 50, 0.1);
			box-shadow:         3px 1px 13px 0px rgba(50, 50, 50, 0.1);
			}
.pt {
			width: 49%;
		  	border-radius: 20px;
			-webkit-box-shadow: 3px 1px 13px 0px rgba(50, 50, 50, 0.1);
			-moz-box-shadow:    3px 1px 13px 0px rgba(50, 50, 50, 0.1);
			box-shadow:         3px 1px 13px 0px rgba(50, 50, 50, 0.1);
			}


.grid_1,
.grid_1a,
.grid_2,
.grid_3,
.grid_schema,
.grid_4,
.inst_1,
.grid_5,
.inst,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.instruktor {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	border-style: solid;
	border-color: transparent;
}
.pt {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	border-style: solid;
	border-color: transparent;
}


.alpha{padding-left:20px; padding-right: 10px;}
.omega{padding-right:10px;}

.container{
	width: 90%; 
	max-width: 1000px;
	margin: auto;
}

.search_member
{


	margin-right: auto;
	margin-left: auto;
}
@media (max-width: 1280px) {

.inst_1
 {
    width: 33%;
  }
}
@media (max-width: 910px) {

.inst_1
 {
    width: 49%;
  }
}
  @media (max-width: 768px) {
  .grid_1,
  .grid_1a,
.grid_2,
.grid_3,
.grid_schema,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.instruktor,
.pt

 {
    width: 100%;
  }
   @media (max-width: 600px) {
 .inst_1

 {
    width: 100%;
  }
}


.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

